/*main{
display: grid;
}*/
.page-header{
max-width: 100%;
width:auto;
 background: #0f0802;
border: white solid .5px;
 }

 .container-fluid{
 }


.navbar{
border: #0f0802 solid 4px;
border-radius:  .5rem;
background-color: #f9f1ef !important;
min-width:100%;
padding-bottom:0px;
padding-top:0px;

}

.navbar-toggler{
background-color: #613421;
}

.container-fluid button:onclick{
border: black solid  2px;
}


.navbar-brand{
padding-right: 80px;
font-family: 'Patua One', cursive;
font-size: 30px;
}

.nav-item {
font-family: 'Patua One', cursive;
font-size: 30px;
padding-right: 40px;
}

.badge{
font-size:10px ;
width: 30px;
height: 30px;
margin: 0px 0px;
font-size:15px ;
text-decoration: none;
padding: 0px 0px 0px 0px;
vertical-align: middle;
text-align: center;
font-family: 'Open Sans', sans-serif;
}

#about{
padding-right: 320px;
background-color: #f9f1ef !important;
}


#cart{
padding-right: 20px;
color: #f9f1ef !important;
}

#navhi{
padding-right: 5px;
}

.nav1{
color: #0f0802;
position: relative;
width: auto;
text-decoration:none;

}

.nav1:hover{
color: green;
}

.notification{
color:  #f9f1ef !important;
}
.notification .badge {
  position: relative;
  top: -15px;
  right: -15px;
  padding: 5px 5px;
  border-radius: 50%;
  margin: 0px 0px;
  background: red;
  color: white;
}
#ordered_food{
padding-left:0px;}

#navbarDropdown{
color: #0f0802;
position: relative;
width: auto;
padding-top:0px;
padding-bottom:0px;

}
#navbarDropdown:hover{
color: green;
}
.dropdown-item{
font-family: 'Patua One', cursive;
font-size: 20px;
//padding-right: 120px;
}

.dropdown-menu{
background-color: #f9f1ef !important;
padding-bottom:0px;
padding-top:0px;
border:  solid #613421  4px;
border-radius: .5rem;
width: 100%;
}

@media screen and (max-width: 1024px){
.navbar-brand{
font-size: 60px;
}
.nav-item {
font-size: 50px;
}
#ordered_food{
max-width: 40px;
height; 40px;
}
.dropdown-item{
font-size: 50px;
}
.dropdown-menu{
border:  solid #613421  4px;
border-radius: .5rem;
width: 100%;
}
.dropdown-divider{
border-bottom:  solid #613421  5px;
}
.badge{
font-size: 35px;
width: auto;
height: auto;

}
}