.d-block{
max-height: 690px;
max-width: 100%;
}

/*.carousel-item img{
max-height: 60%;
}*/

.carousel-caption h5{
font-family: 'Patua One', cursive;
font-size: 30px;
}

/*#container{
background-color: black;
}*/

#menu-title{
width: 100%;
background: black;
width: 100%;
color: white;
text-align: center;
font-family: 'Noto Serif', serif;
padding: 10px 10px 10px 10px;
text-decoration-line: underline;
}

#menu-boxes{
justify-content: center;
background: black;
}

#item-tables{
background: black;
height: auto;
border: white solid 5px;
border-style: double;
}

.table{
width: 100%;
padding-bottom: 0px;
margin: 0px 0px 0px 0px;
table-layout: fixed;
}
.tbl-header, .tbl-content{
width: 100%;
}

table thead tr th, table tbody tr td{
color: white;
font-family: 'Noto Serif', serif;
}

#itype{
text-align: center;
text-decoration-line: underline;
font-size: 30px;
}
#items-head-name{
font-size: 27px;
padding-left: 10%;
}
#items-head-price{
font-size: 27px;
padding-right: 15%;
text-align: right;
}


.tbl-content{
height: 331px;
font-size: 25px;
overflow-y: scroll;
}

.tbl-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.tbl-content::-webkit-scrollbar-track {
  background: black;
  border: solid white 2px;
}

/* Handle */
.tbl-content::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
.tbl-content::-webkit-scrollbar-thumb:hover {
  background: gray;
  }

  #item-name{
  padding-left: 10%;
  }
  #item-price{
  padding-right: 15%;
  text-align: right;
  }

.order{
background-color: black;
display: flex;
justify-content: center;
padding: 25px 0px 25px 0px;
}

#order{
max-width: auto;
color: white;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;
border: white solid 2px;
background-color: black;
}

#order:hover {
background-color: #2e8545;
border: white solid 2px;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;
color: white;
}

#order:onclick {
background-color: #2e8545;
border: white solid 2px;
font-size: 30px;
font-family: 'Fredericka the Great', cursive;
color: white;
}

#about{
height: 800px;
}

@media screen and (max-width: 1920px) {
#item-tables{
    flex: 50%;
  }
}


@media screen and (max-width: 1024px) {
     #menu-boxes{
        flex-direction: column;
      }
      #menu-title h1{
      font-size: 45px;
      }

    #itype{
    font-size: 42px;
    }
    #items-head-name {
    font-size: 40px;
    }
    #items-head-price{
    font-size: 42px;
    }
    #item-name{
    font-size: 40px;
    }
    #item-price{
    font-size: 40px;
    }

}
