.loginform{
margin: auto;
max-width: 750px;
border: solid white 2px;
font-family: 'Noto Serif', serif;
font-size: 25px;
color: white;
}

h2{
text-align: center;
border-bottom: solid white 2px;
}
h2 a{
color: white;
text-decoration: underline;
}
h2 a:hover{
color: rgb(21,115,71);
text-decoration: underline;
}

form{
text-align: left;
}

form input{
background: black;
color: white;
border: solid white 1px;
}
#id_username{
width: 100%;
}

.borderless td, .borderless th {
    border: none;
}
.borderless tr{
padding-bottom:5px;
}

.borderless tr td button{
font-family: 'Noto Serif', serif;
font-size: 25px;
}
