body{
background: black;
}

form{
margin: auto;
margin-top: 30px;
max-width: 70%;
border: solid white 2px;
}

.table{
color: white;
font-family: 'Noto Serif', serif;
font-size: 25px;
}

.table tr td, .table tr th{
border: none;
}

.form-control{
color: white;
background: black;
width: 450px;
}
