body{
background: black;
}

.borderless{
margin: auto;
max-width: 95%;
margin-bottom: 30px;

}

.borderless thead tr th, .borderless tbody tr td, .borderless tfoot tr td{
font-family: 'Noto Serif', serif;
color: white;
font-size: 25px;
border: none;
}