{% extends 'header.html' %}
{% block title %}
  <title>Change password</title>
{% endblock %}

{% block link %}
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
  <link href="{{baseCss}}/change-password.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<form method="POST" style="" >
  {% csrf_token %}
  <table class="table ">
    <tr>
      <th>{{form.old_password.label}}</th>
      <td>{{form.old_password}}
        {% if form.old_password.errors %}
        <span style="color: red; font-size: 15px;">{{form.old_password.errors|striptags}}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{form.new_password1.label}}</th>
      <td>{{form.new_password1}}
        {% if form.new_password1.errors %}
        <span style="color: red; font-size: 15px;">{{form.new_password1.errors|striptags}}</span>
        {% endif %}
        <span style="font-size: 15px; color: yellow;">
          <ul style="padding-top: 10px;">
            Password should:
            <li>not be too similar to other personal information.</li>
            <li>must have at least 8 characters.</li>
            <li>not be a commonly used password.</li>
            <li>cant be entirely numeric.</li>
          </ul>
        </span>
      </td>
    </tr>
    <tr>
      <th>{{form.new_password2.label}}</th>
      <td>{{form.new_password2}}
        {% if form.new_password2.errors %}
        <span style="color: red; font-size: 15px;">{{form.new_password2.errors|striptags}}</span>
        {% endif %}
      </td>
    </tr>
    <tr><td colspan="2"><button class="btn btn-success" type="submit" style="width: 100%;">Save</button></td></tr>
  </table>
</form>

{% endblock %}