{% extends 'header.html' %}
{% block title %}
    <title>checkout</title>
{% endblock %}

{% block link %}
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{baseCss}}/checkout.css">
<!--    <script src="{{baseJs}}/checkout.js"></script>-->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
{% endblock %}j

{% block content %}
<div class="d-flex flex-wrap">
    <div class="checkout-form">
        <div class="d-flex" style="width: 100%; margin-bottom: 20px; margin-top: 20px;">
            <h3>Shipping address</h3>
            <span class="ms-auto" style="max-width: 30%">
                <button class="btn btn-success" data-bs-target="#staticBackdrop" data-bs-toggle="modal" id="order" type="button">View order</button>
            </span>
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>Your order</span>
                        <a aria-label="Close" class="btn-close " data-bs-dismiss="modal" onclick="reset()" style="padding-right:20px; padding-bottom:20px;" type="button"data-bs-toggle="tooltip" data-bs-placement="top" title="Close">
                            <img src="{{baseImg}}/close.png" width="30" height="30">
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <span class="ms-auto">
                                <a id="edit" href="{% url 'order-summary' %}"> Edit: <img src="{{baseImg}}/edit.png" width="25" height="25"/></a>
                            </span>
                        </div>
                        <div id="check_order">
                            <table class="table borderless">
                                <thead>
                                    <tr>
                                        <th id="item-head" style="">Items</th>
                                        <th id="quantity-head">Quantity</th>
                                        <th id="price-head">Price/ Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if order_item %}
                                {% for oitem in order_item%}
                                <tr>
                                    <td id="item-name">{{oitem.item.name}}</td>
                                    <td id="item-quantity">{{oitem.quantity}}</td>
                                    <td id="item-price">{{oitem.item.price}} /- ₹</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr><td colspan="3">Nothing to show. Order something.</td></tr>
                                {% endif %}
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="modal-footer" style="border-top: solid white 2px;">
                        <span class="ms-auto">Total: {{order.get_total_price}} /- ₹</span>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr >
                    <td><label style="">{{field.label}} :</label></td>
                    <td>{{field}}<span>{{field.errors|striptags}}</span></td>
                </tr>
                {% endfor %}
                <tr>
            </table>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
