{% extends 'header.html' %}
{% block title %}
<title>Order</title>
{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<link href="{{baseCss}}/order.css" rel="stylesheet" type="text/css">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">

<script src="{{baseJs}}/order.js"></script>
<script>
            var modalToggle = document.getElementById('staticBackdrop') // relatedTarget
            staticBackdrop.show(modalToggle)

</script>
{% endblock %}
{% block content %}
<div id="menu-title">
    <h1>Menu</h1>
</div>
<div class="d-flex flex-wrap" id="menu-boxes">
    <div id="item-tables" style="height: auto">
        <div class="tbl-header">

            <table class="table">
                <thead>
                <tr style="font-size: 30px;">
                    <th colspan="3" scope="col" style="text-align: center; text-decoration-line: underline;">Beverages</th>
                </tr>
                <tr style="font-size: 27px;">
                    <th scope="col">Items</th>
                    <th scope="col" style="text-align: right;">Price ( ₹ )</th>
                    <th scope="col" style="text-align: right;"></th>
                </tr>
                </thead>
            </table>

        </div>
        <div class="tbl-content">

            <table class="table">
                <tbody>
                {% for item in items %}
                {% if item.beverage == True and item.discontinued == False %}
                <tr>
                    <td>{{item.name}}</td>
                    <td style="text-align: right;">{{item.price}} /-</td>
                    <td style="text-align: center;">
                        <a class="btn btn-success" data-bs-placement="top" data-bs-toggle="tooltip" href="{{ item.get_add_to_cart_url}}" title="Add to cart" type="button" style="background: #3C8D34;">
                            Add to cart <img height="25px" src="{{baseImg}}/shopping-cart.png" width="25px">
                        </a>
<!--                        <a data-bs-placement="top" data-bs-toggle="tooltip" href="{{item.get_remove_cart_url}}" title="Remove from cart" type="button">-->
<!--                            <img height="25px" src="{{baseImg}}/trash.png" width="25px">-->
<!--                        </a>-->
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div id="item-tables" style="height: auto">
        <div class="tbl-header">

            <table class="table">
                <thead>
                <tr style="font-size: 30px;">
                    <th colspan="3" scope="col" style="text-align: center;  text-decoration-line: underline;">Snacks</th>
                </tr>
                <tr style="font-size: 27px;">
                    <th scope="col">Items</th>
                    <th scope="col" style="text-align: right;">Price ( ₹ )</th>
                    <th scope="col" style="text-align: right;"></th>
                </tr>
                </thead>
            </table>

        </div>
        <div class="tbl-content">

            <table class="table">
                <tbody>
                {% for item in items %}
                {% if item.snack == True and item.discontinued == False %}
                <tr>
                    <td>{{item.name}}</td>
                    <td style="text-align: right;">{{item.price}} /-</td>
                    <td style="text-align: center;">
                        <a class="btn btn-success" data-bs-placement="top" data-bs-toggle="tooltip" href="{{ item.get_add_to_cart_url}}" title="Add to cart" type="button" style="background: #3C8D34;">
                            Add to cart <img height="25px" src="{{baseImg}}/shopping-cart.png" width="25px">
                        </a>
<!--                        <a data-bs-placement="top" data-bs-toggle="tooltip" href="{{item.get_remove_cart_url}}" title="Remove from cart" type="button">-->
<!--                            <img height="25px" src="{{baseImg}}/trash.png" width="25px">-->
<!--                        </a>-->
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
<div class="order">
    <!-- Button trigger modal -->
    <button class="btn btn-success" data-bs-target="#staticBackdrop" data-bs-toggle="modal" id="order" type="button">ORDER</button>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Your order</h4>
                    <a aria-label="Close" class="btn-close " data-bs-dismiss="modal" onclick="reset()" style="padding-right:20px; padding-bottom:20px;" type="button"data-bs-toggle="tooltip" data-bs-placement="top" title="Close">
                        <img height="30px" src="{{baseImg}}/close.png" style="border: solid " width="30px">
                    </a>
                </div>
                <div class="modal-body">
                    <span class="float-end">
                        <a href="{% url 'order-summary' %}" id="edit" type="button"> Edit:
                            <img height="25px" src="{{baseImg}}/edit.png" width="25px">
                        </a>
                    </span>
                    <div id="check_order">
                        <div class="m-tbl-header">
                            <table class="table">
                                <thead id="table_head">
                                <tr style="font-size:20px;">
                                    <th align="left">Items</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: right;">Price/unit ( ₹ )</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="m-tbl-content">
                            <table class="table">
                                <tbody>
                                {% for oitem in order_item%}
                                <tr style="font-size:20px;color:white;">
                                    <td align="left">{{oitem.item.name}}</td>
                                    <td align="center">{{oitem.quantity}}</td>
                                    <td align="right" style="padding-right:20px;">{{oitem.item.price}} /- ₹</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" justify-content="center" style="margin: 0px 0px 0px 0px; padding: 10px 10px 10px 20px; border-top: solid white 2px;">
                        <span class="me-auto" style="border: solid white 2px; padding: 0px 5px 0px 5px; background: #b08612; width: 200px; text-align: center;">
                            <a type="button" data-bs-placement="top" data-bs-toggle="tooltip" title="Checkout" type="button" href="{% url 'checkout' %}" style="text-decoration: none">
                                <h3 style="color: white; font-size: 20px; font-family: 'Noto Serif', serif;">Checkout</h3>
                            </a>
                        </span>
                    <span class="ms-auto">
                            <h3 style="color: white; font-size: 30px; font-family: 'Noto Serif', serif;">Total: {{order.get_total_price}} /- ₹</h3>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
