{% extends 'header.html' %}
{% block title %}
<title>Order</title>
{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<link href="{{baseCss}}/order.css" rel="stylesheet" type="text/css">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">

<script src="{{baseJs}}/order.js"></script>
<script>
            var modalToggle = document.getElementById('staticBackdrop') // relatedTarget
            staticBackdrop.show(modalToggle)

</script>
{% endblock %}
{% block content %}
<div id="menu-title">
    <h1>Menu</h1>
</div>
<div class="d-flex flex-wrap" id="menu-boxes">
    <div id="item-tables">
        <div class="tbl-header">

            <table class="table">
                <thead>
                <tr>
                    <th id="itype" colspan="3" scope="col">Beverages</th>
                </tr>
                <tr>
                    <th id="item-header" scope="col">Items</th>
                    <th id="price-header" scope="col">Price ( ₹ )</th>
                    <th id="add-cart-header" scope="col"></th>
                </tr>
                </thead>
            </table>

        </div>
        <div class="tbl-content">

            <table class="table">
                <tbody>
                {% for item in items %}
                {% if item.beverage == True and item.discontinued == False %}
                <tr>
                    <td id="item-name">{{item.name}}</td>
                    <td id="item-price">{{item.price}} /-</td>
                    <td id="add-item" align="center">
                        <a class="btn btn-success" data-bs-placement="top" data-bs-toggle="tooltip" href="{{ item.get_add_to_cart_url}}" title="Add to cart" type="button" style="background: #3C8D34;">
                            Add to cart <img height="25px" src="{{baseImg}}/shopping-cart.png" width="25px">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div id="item-tables">
        <div class="tbl-header">

            <table class="table">
                <thead>
                <tr>
                    <th id="itype" colspan="3" scope="col">Snacks</th>
                </tr>
                <tr>
                    <th id="item-header" scope="col">Items</th>
                    <th id="price-header" scope="col">Price ( ₹ )</th>
                    <th id="add-cart-header" scope="col"></th>
                </tr>
                </thead>
            </table>

        </div>
        <div class="tbl-content">

            <table class="table">
                <tbody>
                {% for item in items %}
                {% if item.snack == True and item.discontinued == False %}
                <tr>
                    <td id="item-name">{{item.name}}</td>
                    <td id="item-price">{{item.price}} /-</td>
                    <td id="add-item" align="center">
                        <a class="btn btn-success" data-bs-placement="top" data-bs-toggle="tooltip" href="{{ item.get_add_to_cart_url}}" title="Add to cart" type="button" style="background: #3C8D34;">
                            Add to cart <img height="25px" src="{{baseImg}}/shopping-cart.png" width="25px">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
<div class="order">
    <!-- Button trigger modal -->
    <button class="btn btn-success" data-bs-target="#staticBackdrop" data-bs-toggle="modal" id="order" type="button">ORDER</button>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Your order</h4>
                    <a aria-label="Close" class="btn-close " data-bs-dismiss="modal" onclick="reset()" style="padding-right:20px; padding-bottom:20px;" type="button"data-bs-toggle="tooltip" data-bs-placement="top" title="Close">
                        <img height="30px" src="{{baseImg}}/close.png" style="border: solid " width="30px">
                    </a>
                </div>
                <div class="modal-body">
                    {% if order.get_total_price != 0 and order.get_total_price != None %}
                    <span class="float-end">
                        <a href="{% url 'order-summary' %}" id="edit" type="button"> Edit:
                            <img height="25px" src="{{baseImg}}/edit.png" width="25px">
                        </a>
                    </span>
                    <div id="check_order">
                        <div class="m-tbl-header">
                            <table class="table">
                                <thead id="table_head">
                                <tr>
                                    <th align="left">Items</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: right;">Price/unit</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="m-tbl-content">
                            <table class="table">
                                <tbody>
                                {% for oitem in order_item%}
                                <tr>
                                    <td align="left">{{oitem.item.name}}</td>
                                    <td align="center">{{oitem.quantity}}</td>
                                    <td align="right" style="padding-right:20px;">{{oitem.item.price}} /- ₹</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <span class="me-auto">
                            <a id="checkout-btn" class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Checkout" type="button" href="{% url 'checkout' %}">
                                Checkout
                            </a>
                        </span>
                    <span id="total" class="ms-auto">{% if order.get_total_price != 0 and order.get_total_price != None %}
                           Total: {{order.get_total_price}} /- ₹
                        {% else %}
                        Total: 0 /- ₹
                        {% endif %}
                        </span>
                </div>
                {% else %}
                <span id="no-order"> You have not ordered anything.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
