{% extends 'header.html' %}

{% block title %}
  <title>Profile</title>
{% endblock %}

{% block link %}
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
  <link href="{{baseCss}}/update-profile.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="update-form">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <table class="table borderless">
        <tr>
          <td>Profile picture</td>
          <td>
            {% if user.profile_picture == None or user.profile_picture == '' %}
              <img src="{{baseImg}}/user_update.png" width="150" height="150" alt="Image not found." style="border-radius: 10%; border: solid white 2px;" data-bs-toggle="tooltip" data-bs-placement="Top" title="Profile picture" id="profile_pic">
            {% else %}
              <img src="{{user.profile_picture.url}}" width="150" height="150"  style="border-radius: 10%; border: solid white 2px;"  data-bs-toggle="tooltip" data-bs-placement="Top" title="Profile picture" id="profile_pic">
            {% endif %}
          </td>
          <td colspan="2">
<!--            <input class="form-check-input" type="checkbox" style="border: solid white 2px; margin: 0px 5px 0px 5px; vertical-align: text-bottom;" /><label>None</label><br><br>-->
            {{form.profile_picture}}
            <a href="{% url 'change-password' %}" style="color: white;">Change password.</a>
          </td>
        </tr>
        <tr><td>Username</td><td>{{user.username}}</td><td>{{form.email.label}}</td><td>{{form.email}}{% if form.email.errors %}<span style="font-size: 15px; color: red;">{{form.email.errors| striptags}}</span>{% endif %}</td></tr>
        <tr><td>{{form.first_name.label}}</td><td>{{form.first_name}}{% if form.first_name.errors %}<span style="font-size: 15px; color: red;">{{form.first_name.errors| striptags}}</span>{% endif %}</td><td>{{form.last_name.label}}</td><td>{{form.last_name}}{% if form.last_name.errors %}<span style="font-size: 15px; color: red;">*{{form.last_name.errors| striptags}}</span>{% endif %}</td></tr>
        <tr><td>Date of Birth</td><td>{{user.date_of_birth}}{% if form.date_of_birth.errors %}<span style="font-size: 15px; color: red;">{{form.email.errors| striptags}}</span>{% endif %}</td><td>{{form.gender.label}}</td><td>{{form.gender}}{% if form.gender.errors %}<span style="font-size: 15px; color: red;">* {{form.gender.errors| striptags}}</span>{% endif %}</td></tr>
        <tr><td>Mobile no.</td><td colspan="3">{{form.phone}}{% if form.phone.errors %}<span style="font-size: 15px; color: red;">{{form.phone.errors| striptags}}</span>{% endif %}</td></tr>
        <tr><td>Date joined</td><td colspan="3">{{user.date_joined}}</td></tr>
        <tr>
          <td>Status</td>
          {% if user.is_staff != False or user.is_superuser != False %}
          <td colspan="3">Staff</td>
          {% else %}
          <td colspan="3">Consumer</td>
          {% endif %}
        </tr>
        <tr>
          <td colspan="4" style="border-bottom: none;">
            <button type="submit" class="btn btn-success"  style="width: 100%;">Save</button>
          </td>
        </tr>
      </table>
  </form>
</div>
{% endblock %}